.navbar {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
     border: 1px solid #ebebeb;
     --bs-navbar-brand-margin-end: 8rem;
     padding-left: 150px !important;
     padding-right: 170px !important;
 }

 /* .nav-link {} */

 body {
   font-size: 90%;
 }

 /* Set the header in the last column of the thead. */
 table thead > tr > th, th:nth-last-child(2){
    padding-top:2px !important;
    padding-bottom:2px !important;
    text-align: center;
    /* font-size: 90%; */
 }

 table tr td:last-child
 {
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 2px !important;
    padding-bottom: 0px !important;
    width: 0px;
}

btn-group-sm>.btn, .btn-sm {
   --bs-btn-padding-y: 0.3rem;
   --bs-btn-padding-x: 0.55rem;
    --bs-btn-font-size: 0.7rem; 
}

th {
   /* background-color: #f1f1f1 !important; */
   font-weight: 500;
}

.table>:not(caption)>*>* {
   /* padding-top: 4px !important; */
   /* padding-bottom: 0px !important; */
   /* padding-left: 2px !important; */
   /* padding-right: 0px !important; */
   font-size: 94%;
}

/* Add a border to each of the last row: */
.table tbody tr {
   border-bottom: 1px solid #ebebeb;
 }

 .lighter-text {
   font-weight: 300;
}